:root {
  --primary-color: #304b71;
  --secondary-color: #6b8aa5;
  --background-color: #d08116;
  --font-size: 16px;
}

section {
  height: 100vh;
}

section:nth-child(even) {
  background-color: pink;
}

header {
  background-color: var(--primary-color);
}

nav {
  margin-top: 0;
  border: 3px solid #304b71;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

nav li {
  display: inline-block;
  text-align: center;
  width: 10rem;
}

nav a {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 1rem;
}

nav a:hover {
  background-color: white;
  color: var(--secondary-color);
}